 <table border="0" >

                    <tr>
                         <td><span ng-hide="editingFlag">{{ ped.email }}</span>&nbsp;
                             <input type="text" ng-show="editingFlag" ng-model="pedidoEdicao.email">
                         </td>

                        <td><span ng-hide="editingFlag">{{ ped.descricao }}</span>&nbsp;
                            <input type="text" ng-show="editingFlag" ng-model="pedidoEdicao.descricao">
                        </td>

                        <td><span ng-hide="editingFlag">{{ ped.arquivo }}</span>&nbsp;
                            <input type="text" ng-show="editingFlag" ng-model="pedidoEdicao.arquivo">
                        </td>

                        <td>
                            <button class="btn btn-primary" ng-hide="ajaxFlag || editingFlag">
                                <i class="glyphicon glyphicon-pencil" ng-click="editar()"></i>
                            </button>

                            <button class="btn btn-success" ng-hide="ajaxFlag || !editingFlag">
                                <i class="glyphicon glyphicon-floppy-save" ng-click="completarEdicao()"></i>
                            </button>

                            <button class="btn btn-warning" ng-hide="ajaxFlag || !editingFlag">
                                <i class="glyphicon glyphicon-floppy-remove" ng-click="cancelar()"></i>
                            </button>

                            <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <button class="btn btn-danger" ng-hide="ajaxFlag">
                                <i class="glyphicon glyphicon-trash" ng-click="deletar()"></i>
                            </button>
                            <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>

            </table>


{#

 <tr>
    <td><a href="{{ edit_path }}" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-pencil"></i></a></td>
    <td>{{ pedido.email }}</td>
    <td>{{ pedido.descricao }}</td>
    <td>{{ pedido.arquivo }}</td>

    <td>
        <form action="{{ delete_path }}" method="post"
              onsubmit="return confirm('{{ ('Deseja realmente excluir?') }}')">
            {{ csrf_input }}
            <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>

        </form>
    </td>
</tr>


 #}