{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <br>

            <div class="row clearfix">
		<div class="col-md-6 column">
            <img src="/static/img/logoOlivarts.jpg"
                         alt="Olivart's" style="width:350px;height:170px">
		</div>
                <br>
			<div class="col-md-6 column">
					<dl>
						<center><dd>
                            <br>
                            <br>
							Olá, este projeto chama-se Olivart's Desenhos, criada em 2011 e composta por mim, Fabiana Oliveira e Flavia Oliveira, minha irmã.
                            Criamos esta página com o intuito de mostrar nosso trabalho, principalmente voltada para desenhos realistas e a
                            apreciadores da arte em geral. Fique a vontade e veja nossa galeria de fotos e se tiver interesse também
                            encomendamos para qualquer região do Brasil.
							Seja Bem vindo !

						</center></dd>
					</dl>
			</div>
			</div>
            <br>
            <br>

            <div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="200x100" src="/static/img/aguia.jpg" />
						<div class="caption">
							<h3>
								Acesse nosso Canal
							</h3>

							<p>
								<a class="btn btn-primary" href="https://www.youtube.com/user/morktstille"target="blank"/>Olivart's</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/static/img/arlequina.jpg">
						<div class="caption">
							<h3>
								Galeria de Desenhos
							</h3>
							<p>
								Veja todos os nossos desenhos clicando aqui !
							</p>
							<p>
								<a class="btn btn-primary" href="/galeria">Galeria</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/static/img/beagle.jpg" />
						<div class="caption">
							<h3>
								Acesse nossa Página !
							</h3>

							<p>
								<a class="btn btn-primary" href="https://www.facebook.com/pages/Olivarts/301282549899355"target="blank">Olivart's Desenhos</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


			</div>
		</div>

{% endblock %}