{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

            <center><img src="/static/img/0.jpg" alt="Logo do Olivart's"style="width:489px;height:358px"></center>

			<h2 align="center">
				Um pouco sobre o Olivart's
			</h2>
			<p align="center">
                Olivart's surgiu um pouco antes de 2011, ideia das irmãs Fabiana e Flavia Oliveira de criar um projeto onde o
                intuito de divulgar e incentivar a cultura, a arte, mas o principal divulgar desenhos realistas feitos por elas.
                Olivart's veio da junção do sobrenome Oliveira com a palavra inglês art (Olivart's Desenhos).
                Em 2005 e 2006 fizeram um curso de técnicas de desenho pela Fundação Tim Lopes,São José dos Campos - SP, cidade onde
                residem.
                Olivart's alavancou há 2 anos aproximadamente e vem crescendo, inclusive obteve reconhecimento internacional, citando alguns como:
                Cristina Scabbia (vocalista da banda Lacuna Coil - Itália), Lzzy Hale (vocalista da banda Halestorm - EUA), Simone Simons (vocalista da banda Épica),
                Marimoon (ex-apresentadora da MTV e atualmente blogueira - Brasil), Kate Von D (famosa tatuadora do LA Ink e Miami Ink), cantora Kerli, entre outros.

			</p>


		</div>
	</div>
</div>
{% endblock %}
