{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}

{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

			<h2 align="center">
				Tabela de Preço
			</h2>
			<p align="center">
                Logo abaixo há uma tabela com o preço de acordo com o pedido realizado.
			</p>


             <center><img src="/static/img/tabela.jpg" alt="Tabela de Preço"style="width:700px;height:400px"></center>


		</div>
	</div>
</div>
{% endblock %}
