{% extends 'categorias/categoria_base.html' %}
{% set erros=erros or None %}
{% block js %}
   <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
   <script type="text/javascript" src="/static/categoria/categoria.js"></script>
   <script type="text/javascript">
       var rest= angular.module('rest',[]);
        rest.factory('CategoriaApi', function($http){
            return {
                salvar: function(categoria){
                    return $http.post('/rest/categorias/salvar', categoria);
                },
                listar:function(){
                    return $http.post('/rest/categorias/listar');
                },
                deletar:function(id){
                    return $http.post('/rest/categorias/apagar',{categoria_id:id});
                }
            };
        });
       {# var rest= angular.module('rest',[]);
        rest.factory('CategoriaApi', function($rootScope){
            return {
                salvar: function(categoria){
                    var obj={};
                    obj.success= function(fcnSucesso){
                        obj.fcnSucesso=fcnSucesso;
                    };
                    obj.error= function(fcnErro){
                        obj.fcnErro=fcnErro;
                    };
                    setTimeout(function(){
                        categoria.id=1;
                        obj.fcnSucesso(categoria);
                        $rootScope.$digest()
                    },1000);
                    return obj;
                    return $http.post('/rest/categorias/salvar', categoria);
                }
            };
        });#}
        var categoriaApp=angular.module('categoriaApp',['categoriaModulo','rest']);
        function CategoriaController($scope,CategoriaApi){
            $scope.categoria={nome:'example@example.com',imagem:'Deixe seu comentário aqui'};
            $scope.mostrarFormFlag=false;
            $scope.categoriaLista= [];
            $scope.listandoFlag=true;
            CategoriaApi.listar().success(function(categorias){
                $scope.categoriaLista=categorias;
                $scope.listandoFlag = false;
            });
            $scope.mostrarOuEsconderForm=function(){
                $scope.mostrarFormFlag=!$scope.mostrarFormFlag;
            }
            $scope.adicionarCategoria=function(categoria){
                $scope.categoriaLista.unshift(categoria);
            }
            $scope.removerCategoria=function(categoria){
                var categoriaLista = $scope.categoriaLista;
                for(var i = 0; i < categoriaLista.length; i+=1){
                    if(categoria.id == categoriaLista[i].id){
                        categoriaLista.splice(i,1);
                        break;
                    }
                }
            }
        }
   </script>
{% endblock %}
{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
	<div class="row clearfix">
		<div class="col-md-12 column" ng-app="categoriaApp" ng-controller="CategoriaController">
            <h1 class="text-center">Formulário de Pedidos</h1>
            <center><button class="btn btn-success" ng-click="mostrarOuEsconderForm()">Novo Pedido</button></center>
            <br/>
            <categoriaform ng-show="mostrarFormFlag" categoria2="categoria" nome-label="Email" imagem-label="Descricão" save-complete="adicionarCategoria(categoria)">
            </categoriaform><br/>
            <h1 class="text-center">Pedidos</h1><br/>
            <table categorialinha ng-repeat="c in categoriaLista" categoria2="c" delete-complete="removerCategoria(categoria)"></table>
            <img src="/static/img/ajax.gif" ng-show="listandoFlag"/>
        </div>
    </div>
</div>
{% endblock %}